<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
<!-- 	define a component scan tag for all scan all the packages with annotation.So that can mix the annotation Components/Bean
	with this XML Beans all together. -->
	<context:component-scan base-package="com.ranjen.spring.basics"/>
	
<!-- 	1)first create all the beans first -->
    <bean id="xmlJdbcConnection" 
    	class="com.ranjen.spring.basics.springin5steps.xml.XmlJdbcConnection">
    </bean>

<!-- 	2)second autowire xmlJdbcConnection into  the xmlPersonDAO bean by using the property tag
			 by add the injected property name with the ref referring to the bean id that should be injected -->
    <bean id="xmlPersonDAO" class="com.ranjen.spring.basics.springin5steps.xml.XmlPersonDAO">
    		<property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
    </bean>

</beans>